<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">

    <input type="text" th:field="*{surname}" placeholder="Фамилия" id="surname"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>

    <input type="text" th:field="*{name}" placeholder="Имя" id="name"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <input type="text" th:field="*{patronymic}" placeholder="Отчество (если оно имеется)" id="patronymic"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>

    <input type="text" th:field="*{username}" placeholder="UserName" id="username"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <input type="text" th:field="*{email}" placeholder="Email" id="email"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <input type="password" th:field="*{password}" placeholder="Пароль" id="password"/>
    <br>

    <input type="password" name="repeatPassword" placeholder="Повторите пароль" id="repeatPassword"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>


    <input type="submit" value="Sign up!"/>
</form>
<a href="/login">Вход</a>

</body>
</html>