body{
    min-width: 700px;
}

.formLogin {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100%);
    width: calc(40%);
    background: #70CCF2;
    min-height: 500px;
}

.login{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(41%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.login:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.password{

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    bottom: calc(41%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.password:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorForm{
    position: absolute;
    top:60%;
    height: calc(10%);
    width: calc(100%);
}

.errorText{
    color: #F34646;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}

.buttonSinIN{
    color: #FFFFFF;
    font-size: 1.1vmax;
    font-weight: bold;
}

*::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

input:valid {
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.buttonText{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
}