.background{
    min-height: 600px;
    min-width: 1000px;
}

.img{
    width: 40px;
    height: 40px;
}

.logoText{
    font-family: 'algerian';
    font-style: normal;
    font-size: 45px;
    text-align: center;
    color: #FEFCFC;
    top: calc(1.5%);
}

.logo{
    position: absolute;
    height: calc(100%);
    width: calc(20%);
    top: calc(1%);
    left: calc(40%);
}

.menu{
    margin-top: 0px !important;
    width: 40px !important;
    height: 40px !important;
    color: #FFFFFF !important;
}

.AppBar{
    position: absolute !important;
    height: 60px !important;
    width: 100% !important;
    background: #4FB5D7 !important;
    min-height: 40px !important;
    min-width: 1000px !important;
}

.rec1{
    position: absolute;
    height: calc(4%);
    width: calc(30%);
    top: calc(45%);
    right: calc(75%);
    background: #FFFFFF;
}

.rec2{
    position: absolute;
    height: calc(4%);
    width: calc(30%);
    top: calc(45%);
    left: calc(75%);
    background: #FFFFFF;
}

.btn {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.textBtn{
    font-family: Scada, sans-serif;
    color: #747A80;
    font-size: 15px;
}

.titleBoxProfile{
    position: absolute !important;
    width: 94%;
    height: 100px;
    border-bottom: 3px solid #FFFFFF;
}

.titlePersonIcon{
    font-size:100px !important;
    position: absolute !important;
    color: #FFFFFF !important;
    margin: 0 auto !important;
}

.titlePersonName{
    font-size:32px !important;
    position: absolute !important;
    color: #FFFFFF !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    left: 100px !important;
}

.boxEdit{
    position: absolute !important;
    top: 132px;
    width: 94%;
    height: 130px;
}

.textField{
    font-size: 20px;
    width: 250px;
    height: 30px ;
    background: #4FB5D7;
    border: 3px solid white;
    border-radius: 5px;
}

.textField:focus{
    border-color: #8482FF;
    outline: none !important;
}

.textField:valid{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.textField::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}


