.formReg {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100%);
    width: calc(40%);
    background: #70CCF2;
    min-height: 500px;
}

.name{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(22.5%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.name:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorName{
    position: absolute;
    top:29.5%;
    height: calc(5%);
    width: calc(100%);
}

.userName{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(34.5%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.userName:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorUserName{
    position: absolute;
    top:41.5%;
    height: calc(5%);
    width: calc(100%);
}

.email{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(46.5%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.email:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorEmail{
    position: absolute;
    top:53.5%;
    height: calc(5%);
    width: calc(100%);
}

.passw{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(58.5%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.passw:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorPassword{
    position: absolute;
    top:65.5%;
    height: calc(5%);
    width: calc(100%);
}

.repeatPassword{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 10px;
    margin-bottom: 30px;

    position: absolute;
    width: calc(60%);
    height: calc(7%);
    right: calc(20%);
    top: calc(70.5%);

    background: #70CCF2;
    border: 0.3vw solid #FFFFFF;
    border-radius: 20px;
}

.repeatPassword:focus{
    border: 0.3vw solid #8482FF;
    outline: none !important;
}

.errorRepeatPassword{
    position: absolute;
    top:77.5%;
    height: calc(5%);
    width: calc(100%);
}

.registrationButton{
    position: absolute;
    width: calc(100%);
    height: calc(10%);
    bottom: calc(8%);
}

.buttonReg{
    color: #FFFFFF;
    font-size: 1.1vw;
    font-weight: bold;
}

.name::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.name:valid{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}
.userName::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.userName:valid{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}
.email::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.email:valid{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}
.passw::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.passw:valid{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}
.repeatPassword::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.repeatPassword:valid{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
    vertical-align: middle;
}

.butText{
    color: #FFFFFF;
    font-size: 1vw;
    font-weight: bold;
}

.errText{
    color: #F34646;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}